---
import Section from "../layouts/Section.astro";
---

<Section id="agency" variant="green" classes="section--agency">
  <div class="section-inner">
    <h2>L'agence</h2>
    <a href="#" class="button is-purple">Contactez-nous</a>
  </div>
</Section>

<style lang="scss">
  .section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
</style>
