---
import Section from "../layouts/Section.astro";
---

<Section variant="yellow" id="contact" classes="section--contact">
  <div class="section-inner">
    <h2>Ecrivez-nous</h2>
    <a href="#" class="button">Contactez-nous</a>
  </div>
</Section>

<style lang="scss">
  .section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
</style>
