---
import Skiplinks from "../components/Skiplinks.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";

import SVGSprite from "../layouts/SVGSprite.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/neb3ywh.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=bespoke-sans@400,700&display=swap"
      rel="stylesheet"
    />
    <title>
      Semmeo - Agence conseil en accessibilité numérique et qualité web
    </title>
  </head>
  <body>
    <Skiplinks />
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />

    <SVGSprite />
  </body>
</html>

<style lang="scss" is:global>
  @use "../styles/scss/index.scss";
</style>
