---
const { id, variant = "light", classes, data } = Astro.props;
---

<section id={id} class:list={["section", variant, classes]}>
  <div class="container">
    <slot />
  </div>
</section>

<style lang="scss">
  section.section {
    --_bg: var(--c-light);
    --_color: var(--c-dark);

    padding-block: clamp(3.75rem, 10vw, 7.5rem);
    background-color: var(--_bg);
    color: var(--_color);

    &.dark {
      --_bg: var(--c-dark);
      --_color: var(--c-light);
    }
    &.green {
      --_bg: var(--c-green);
    }
    &.yellow {
      --_bg: var(--c-yellow);
    }
  }

  .section--assets {
    padding-bottom: 0 !important;
  }
  .section--clients {
    padding-block: 3.75rem !important;
  }
</style>
