:root {
  // config
  --container-width: 1440px;
  --gutter-width: 3.125rem;
  --tablet-bp: 64rem;

  // colors
  --c-dark: #1d1e1d;
  --c-light: #fffcf5;

  --c-yellow: #ffcf33;
  --c-green: #aff4c6;
  --c-purple: #9b77ff;
  --c-pink: #ff5479;

  // fonts
  --f-display: "Bespoke Sans", sans-serif;
  --f-title: "neue-kabel", sans-serif;
}
